{% extends "layout.html" %}
{% block content %}




<div class="card-container">
    <div class="card">
      <img src="media/sol.png" alt="Team A" />
      <h3>Prediction 1</h3>
      <p>Who will win this match?</p>
      <select
        class="prediction-select"
        onchange="handlePredictionSelection(this)"
      >
        <option value="none">Select Prediction</option>
        <option value="Team A">Team A</option>
        <option value="Team B">Team B</option>
        <option value="Draw">Draw</option>
      </select>
      <div class="button-container">
        <input class="custom-submit-button" type="submit" value="Submit">
        </button>
      </div>
    </div>
    <div class="card">
      <img src="media/sol.png" alt="Team A" />
      <h3>Prediction 1</h3>
      <p>Who will win this match?</p>
      <select
        class="prediction-select"
        onchange="handlePredictionSelection(this)"
      >
        <option value="none">Select Prediction</option>
        <option value="Team A">Team A</option>
        <option value="Team B">Team B</option>
        <option value="Draw">Draw</option>
      </select>
      <div class="button-container">
        <input class="custom-submit-button" type="submit" value="Submit">
        </button>
      </div>
    </div>
    <div class="card">
      <img src="media/sol.png" alt="Team A" />
      <h3>Prediction 1</h3>
      <p>Who will win this match?</p>
      <select
        class="prediction-select"
        onchange="handlePredictionSelection(this)"
      >
        <option value="none">Select Prediction</option>
        <option value="Team A">Team A</option>
        <option value="Team B">Team B</option>
        <option value="Draw">Draw</option>
      </select>
      <div class="button-container">
        <input class="custom-submit-button" type="submit" value="Submit">
        </button>
      </div>
    </div>
    <div class="card">
      <img src="media/sol.png" alt="Team A" />
      <h3>Prediction 1</h3>
      <p>Who will win this match?</p>
      <select
        class="prediction-select"
        onchange="handlePredictionSelection(this)"
      >
        <option value="none">Select Prediction</option>
        <option value="Team A">Team A</option>
        <option value="Team B">Team B</option>
        <option value="Draw">Draw</option>
      </select>
      <div class="button-container">
        <input class="custom-submit-button" type="submit" value="Submit">
        </button>

        
      </div>
    </div>
      <!-- Add more cards as needed -->
    </div>

    <!-- Bootstrap JS and jQuery scripts (required for Bootstrap) -->
    <script src="script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kFfDr8f2G5L5a5a5yT5p0T2F5F5"
      crossorigin="anonymous"
    ></script>




















{% endblock%}