<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOBATV</title>
    <link rel="stylesheet" href="/static/css/navbarstyle.css" />
  </head>
        <nav>
          <div class="logo">
            <img src="/static/media/svg/logo-main.svg" alt="MOBA-TV Logo Image" />
          </div>
          <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-links">
            <li><a href="#">Nyheter</a></li>
            <li><a href="#">Schema</a></li>
            <li><a href="#">Tävlingar</a></li>
            <li><a href="#">Regelverk</a></li>
            <li><a href="#">Kontakta oss</a></li>
            <li><button class="login-button" href="#">Logga in</button></li>
            <li><button class="join-button" href="#">Bli medlem</button></li>
          </ul>
        </nav>
      </body>
    </html>
    <!-- partial -->
    {% block content %}
    {% endblock%}
    

        <!-- Bootstrap JS and jQuery scripts (required for Bootstrap) -->
        <script src="script.js"></script>
        <script
          src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kFfDr8f2G5L5a5a5yT5p0T2F5F5"
          crossorigin="anonymous"
        ></script>

        <script src="/static/js/navbarscript.js"></script>
  </body>
</html>
